<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-inline-block justify-space-between p-2">
      <div class="topnav justify-space-between align-center p-2">
        <a class="active" href="#home">Home</a>
        <a href="#dashboard">Dashboard</a>
        <a href="#login">Login</a>
        <a href="#Logout">Logout</a>
      </div>
      <div class="display-inline-block text-right align-start">
        <h1>
          &#127860 The Tech Blog! &#127860
        </h1>
      </div>

    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
  </div>
</body>

</html>