<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{title}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-4">
    <button class="btn btn-sm btn-danger new-post">New Post</button>
  </div>
</div>


<script src="./js/createpost.js"></script>