<div class="row mt-4">
  <div class="col-md-4">
    <button class="btn btn-sm btn-danger new-post">New Post +</button>
  </div>
</div>

{{#if posts.length}}
<div class="col-md-6 post-list">
  <h3>Current Projects:</h3>
  {{#each posts as |post|}}
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-text">
        {{post.title}}
      </span>
      <a href="/post/{{post.id}}" class="btn btn-primary">Update or Delete</a>
    </nav>
  {{/each}}
</div>
{{/if}}




  <script src="/js/createpost.js"></script>