
<div class="row mt-4">
  <div class="col-md-4">
    <button class="btn btn-sm btn-danger new-post">New Post +</button>
  </div>
</div>

 {{#if posts.length}}
  <div class="col-md-6 post-list">
    <h3>Current Projects:</h3>

    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>



<script src="/js/createpost.js"></script>