
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Edit Post:</h3>
    <form class="form new-post-form post-list">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" value="{{title}}" />
      </div>
      <div class="form-group">
        <label for="post-cont">Content:</label>
        <textarea class="form-input" id="post-cont" name="post-cont" >{{content}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" data-id="{{id}}">Update</button>
      </div>
    </form>
    <div  class="delete-post">
      <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
    </div>
  </div>

</div> 


<script src="/js/editpost.js"></script>
