<!-- Loop over each object in the projects array style="height: 10rem;"-->


<div class="col-md-12 post-list"></div>
{{#each posts as |post| }}


<nav class="navbar navbar-light bg-light">
    <p class="navbar-text">
        {{post.title}}
        <span>Created by {{post.user.username}} on {{format_date post.date_created}}</span>
    </p>
    <a href="/post-comment/{{post.id}}" class="btn btn-primary">Click to more info</a>

</nav>
{{/each}}
</div>