<div>
<h2>Sign Up</h2>

<form class="signup-form">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="username-signup" placeholder="username" aria-describedby="username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" placeholder="password" id="password-signup">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <br>
  <a class="dropdown-item" href="/login">Login instead</a>
</form> 
</div>
 
 
 
 







<script src="/js/signup.js"></script>
