:root {
    --primary: #ebebeb;
    --secondary: #d5896f;
    --tertiary: #dab785;
    --quatrinary: #031d44;
    --light: #70a288;
    --dark: #04395e;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--quatrinary);
  }
  
  header {
    padding: 40px;
    /*text-align: center;*/
    background: var(--primary);
    color: var(--secondary);
    border-bottom-style: solid;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  aside {
    flex: 0;
    background-color: var(--tertiary);
    padding: 80px;
    text-align: left;
    color: var(--light);
  }
  
  nav {
    display: flex;
    background-color: var(--secondary);
  }
  
  .menu-container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    min-height: 100%;
    margin: 0px auto;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
    background-color: var(--light);
    color: var(--dark);
    padding: 50px;
    background-color: #ebebeb;
  }
  
  .add-dish-container {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    min-height: 100%;
    min-width: 35%;
    margin: 5px auto;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
    background-color: var(--light);
    color: var(--dark);
    padding: 50px;
    text-align: center;
    background-color: var(--tertiary);
  }
  
  .edit-dish-container {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    min-height: 100%;
    min-width: 35%;
    margin: 5px auto;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
    background-color: var(--light);
    color: var(--dark);
    padding: 50px;
    text-align: center;
    background-color: var(--tertiary);
  }
  
  /* CARDS */
  .dish-card {
    margin: 20px;
    flex: 0 1 300px;
    padding: 5px;
    width: 35%;
    min-height: 100%;
    min-width: 35%;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
    background-color: var(--light);
    color: var(--dark);
  }

  .card {
    min-height: auto;
  }
  
  .menu-card {
    margin: 50px;
    flex: 0 1 300px;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-style: groove;
    border-width: thick;
    background-color: var(--light);
    color: var(--dark);
  }
  
  .card-header {
    color: var(--light);
    margin: 0;
    background-color: var(--secondary);
    padding: 0.625rem;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
  }

  .has-nuts {
    color: var(--error)
  }

  .dish-card-header {
    font-size: 1.5rem;
    color: var(--tertiary);
    margin: 0;
    background-color: var(--light);
    padding: 0.625rem;
    border-bottom-style: solid;
  }
  
  .card-body {
    padding: 2.5%;
    font-size: 1.4rem;
    text-align: center;
  }
  
  /* LAYOUT */
  .container {
    display: flex;
    flex-flow: column wrap;
   /*  align-content: center; */
    /* align-items: center; */
  }

  .topnav {
    /*background-color: #333;*/
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: var(--light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: var(--light);
    color: var(--dark);;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: var(--primary);
    color: var(--light);
  }

  .tech{
    display: block;
  } 
  

  h1{
    align-content: flex-start;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}


.dropdown-item{
  color: #d9e9e8;
}

.login{
  width: 60%;
  border: 5px solid #d9e9e8;
}


.card {
  height: 15rem;
  width: 15rem;
  color : black;
}

